{% extends "base.html.jinja" %}

{% block content%}
<div id="about" class="container-fluid mt-3 mb-5">
    <div class="post-heading text-center">
        <div style="font-size: 4em">Autor</div>
        <hr class="w-50 mx-auto pb-4">
    </div>

    <div class="container row d-flex justify-content-center mx-auto">
        <div class="col-lg-4 col-md-8 col-12">
            <img src="{{url_for('static', filename='about-me.jpg')}}" width="450px" height="450px" class="img-fluid p-3 text-center">
        </div>
        
        <div class="col-lg-6 col-md-10 col-12">
            <h2>O mnie</h2>
            <hr>
            <p> Mam na imię Amelia i jestem studentką pierwszego roku Informatyki Stosowanej 
            na Uniwersytecie Ekonomicznym w Krakowie. Interesuję się kinematografią, muzyką 
            oraz grami komputerowymi. Co więcej, lubię uprawiać sport, kocham podróże, a 
            większość swojego wolnego czasu spędzam razem z moimi przyjaciółmi. Zajmuję się 
            programowaniem od niecałego roku.</p>
            <h2>O projekcie</h2>
            <hr>
            <p> Projekt został zrealizowany w ramach dodatkowego zaliczenia
            z przedmiotu o nazwie Pracownia Programowania II. Celem tej 
            aplikacji jest pobieranie poszczególnych recenzji każdego filmu 
            oraz serialu ze strony Filmweb, a także wyświetlanie najważniejszych informacji.  </p>
        </div>
    </div>
</div>
{% endblock content%}