{% extends "base.html.jinja" %}

{% block content%}
<div>
    <section class="text-dark p-4 text-center">
        <div class="mx-auto" style="width: calc(200px + 40vw); background-color: #f0b710; border-radius:15px">
            <div class="container-fluid mx-auto">
                <div class="fs-1 text-center">Filmweb Scraper</div>
            </div>
            <div class="container-fluid mx-auto">
                <p style="width:calc(160px + 40vw);" class="container lead p-2 my-4 text-center">
                Save any movies or series and check their opinions with statistics. Click on the button below and see for yourself!
                </p>
            </div>
        </div>
            <div>
                <h2 style="margin-bottom: 15px">Download reviews from Filmweb</h2>
            </div>
            <div style="margin-bottom: 20px" class="d-grid gap-2 col-3 mx-auto">
                <a href="{{url_for('extract')}}"><button class="btn btn-warning" type="button">Go to the form</button></a>
            </div>
    </section>

    <section style="background: rgb(241,241,241); background: linear-gradient(0deg, rgba(241,241,241,1) 93%, rgba(201,201,201,1) 100%); padding:20px 20px 20px 20px; min-height:70vh"  class="text-dark text-center">
        <div class="container-fluid mx-auto" style="width: 700px;">
            <h2 style="margin-bottom: 5px">Your movies and series added so far:</h2>
        </div>
        
        <div class="row p-2">
            {% for movie in movies  %}
            <div class="col-sm-6 p-2">
                <div class="card" style="min-height:168px">
                    <div class="card-body">
                        <h5 class="card-title">{{movie["title_polish"]}}</h5>
                        <p class="card-text">{{movie["description"]}}</p>
                        <a href="/information/{{movie['id_url']}}" class="btn btn-warning">Visit page</a>
                        <a href="/delete/{{movie['id_url']}}" class="btn btn-outline-warning">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock content%}