{% extends "base.html.jinja" %}

{% block content%}
<div id="about" class="container-fluid mt-3 mb-5">
    <div class="post-heading text-center">
        <div style="font-size: 4em">About me</div>
        <hr class="w-50 mx-auto pb-4">
    </div>

    <div class="container row d-flex justify-content-center mx-auto">
        <div class="col-lg-4 col-md-8 col-12">
            <img src="{{url_for('static', filename='about-me.jpg')}}" width="450px" height="450px" class="img-fluid p-3 text-center">
        </div>
        
        <div class="col-lg-6 col-md-10 col-12">
            <h2>Wanna know me?</h2>
            <hr>
            <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
            culpa qui officia deserunt mollit anim id est laborum." </p>
            <h2>About project</h2>
            <hr>
            <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
            culpa qui officia deserunt mollit anim id est laborum." </p>
        </div>
    </div>
</div>
{% endblock content%}