<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename ='style.css')}}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <title>Filmweb Scraper</title>
</head>
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"  style="padding:15px; background-color: black">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <img src="{{url_for('static', filename='filmweb_transparent.png')}}" width="40" height="40" style = "margin-right:5px">
    <span class="fs-3" style="color: white">Filmweb Scraper</span>
    </a>

        <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link" style="color: #f0b710">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link" style="color: #f0b710">About Me</a></li>
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page" style = "background-color: #f0b710;">Extract</a></li>
    </ul>
</header>
<body>
    {% block content%}
        
    {% endblock content%}
</body>
</html>